body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    background: #ece7e4;
}

p {
    text-align: center;
    margin-right:40px;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

h3 {
    display: inline-block;
    padding-right: 60px;
}

.list {
    padding: 0;
    list-style: none;
}

.list li {
    white-space: pre-wrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
}

.info {
    padding-left: 20%;
    padding-top: 40px;
}

.list li {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 20px solid #e98074;
    color: #333;
}

.custom {
    position: absolute;
}

.block {
    position: absolute;
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px ridge rgba(0, 0, 116, 0.4);
}

footer {
    background: #b0b7c6;
    height: 20px;
    margin-top: -80px;
}

.foo {
    font-size: 15px;
    text-align: right;
}

.text-center {
    text-align: center;
}

.form-control {
    width: 60%;
    background: linen;
    margin: 0 auto;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 12px;
    border: none;
    text-transform: uppercase;
    padding: 10px 0 11px;
    width: 128px;
    font-size: 16px;
    color: #212121;
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    position: relative;
}

.btn:active {
    box-shadow: 0 5px 11px rgb(0, 0, 0);
}

.btn-success {
    background: #ff9e79;
}

.btn-primary {
    background: #7997ff;
}

.btn-danger {
    background-color: #f58251;
}

.btn-success:hover {
    background-color: #ff7b47;
}

.btn-primary:hover {
	background-color: #6270c0;
}

.btn-danger:hover {
	background-color: #ff7b47;
}

.btn_press {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    color: #e04000;
    margin: 30px 0 30px 0;
}

.nav-list {
    margin: 10px 0 10px 0;
}

@keyFrames wave {
    from {
        background-position: left 0 top 0;
    }
    to {
        background-position: left 1100px top 0;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    height: 200px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font: bold 100pt Axon;
    color: rgba(0, 0, 116, 0.4);
    background: url("/../static/img/waves.png");
    -webkit-background-clip: text;
    animation: wave 7s infinite;
}

.hd {
    margin-top: 10px;
}