<header>
    <nav class="navbar navbar-light bg-#f0dfc8">
        <a href="/"><img width="320px" height="80px" src="/../static/img/logo.png" alt="Balmoot"></a>
        {% if current_user.is_authenticated %}
            <p class="hd">
                <a class="navbar-brand" href="/auth/profile">{{ current_user.username }}</a>
                <a> | </a>
                <a class="btn btn-primary" href="/quizzes/">Quizzes</a>
                <a class="btn btn-danger" href="/auth/logout">Logout</a>
            </p>
        {% else %}
            <p>
                <a class="btn btn-primary" href="/auth/register">Sign up</a>
                <a class="btn btn-success" href="/auth/login">Log In</a>
            </p>
        {% endif %}
    </nav>
    <div class="block"></div>
    <p></p>
</header>