{% extends "base.html" %}

{% block content %}
    <h1>Quiz list</h1>

    {% for quiz in quizzes %}
        <nav>
            <h3>{{ quiz.title }}</h3>
            <a class="btn btn-primary custom" href="/quizzes/{{ quiz.id }}">Info</a
            <a class="btn btn-primary custom" href="/quizzes/{{ quiz.id }}/passing/1">Pass</a>
        </nav>
        <h1>----------</h1>
    {% endfor %}
    <a href="/quizzes/create" class="btn_press"><i class="fa-solid fa-circle-plus fa-3x"></i></a>
{% endblock %}

