{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <h3>{{ message }}</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username_or_email.label }}<br>
            {{ form.username_or_email(class="form-control", type="username_or_email") }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}
