{% extends "base.html" %}

{% block content %}
    <h1>{{ current_user.first_name }}</h1>
    <h2>{{ current_user.last_name }}</h2>
    <br>
    <h3>Edit your profile</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for i in form%}
        {% if i.name != "submit" and i.name != "csrf_token" %}
            <p>
                {{ i.label }}<br>
                {{ i(class="form-control") }}<br>
                {% for error in i.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
        {% endif %}
    {% endfor %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}
