{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <h3>{{ message }}</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for i in form %}
        {% if i.name != "submit" and i.name != "csrf_token" %}
            <p>
                {{ i.label }}<br>
                {{ i(class="form-control") }}<br>
            </p>
        {% endif %}
    {% endfor %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}
